    <!--Calling the Blizzard API-->
<form ng-submit="search(battleTag)">
    <div class="row-fluid " style="padding-top: 15px; ">
        <div class=".col-xs-10 .col-xs-offset-2">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="BattleTag#               example: 'Talentz-1274'" ng-model="battleTag" />
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="search" />
                </span>
            </div>
        </div>
    </div>
</form>
