<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="d2armory">
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link rel="stylesheet" href="/stylesheets/common-game-site.min.css" />
    <link rel="stylesheet" href="/stylesheets/d3.css" />
    <link rel="stylesheet" href="/stylesheets/hero-slots.css" />
    <link rel="stylesheet" href="/stylesheets/hero.css" />
    <link rel="stylesheet" href="/stylesheets/ratings.css" />
    <link rel="stylesheet" href="/stylesheets/shared.css" />
    <link rel="stylesheet" href="/stylesheets/tooltips.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />


    <!-- SPELLS -->
    <!-- load angular and angular route via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="/controllers/accountController.js"></script>
    <script src="/filters/splitFilter.js"></script>
    <script src="/filters/genderConverter.js"></script>
    <script src="/heroController.js"></script>
    <title>d2armory</title>
</head>

<body ng-controller="accountController" style="background-image: url('images/1492437.jpg'); ">
    <!--Calling the Blizzard API-->
    <form ng-submit="search(battleTag)">
        <div class="row-fluid " style="padding-top: 15px;">
            <div class=".col-xs-10 .col-xs-offset-2">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="BattleTag#             example: 'Billy-1739'" ng-model="battleTag" />
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-primary" value="search" />
                    </span>
                </div>
            </div>
        </div>
    </form>

    <!--DEFAULT EMPTY PROFILE SELECTOR-->
    <div class="profile-body" id="profile-body" ng-if="!account.heroes">
        <div class="profile-selector" id="heroes">
            <ul class="hero-tabs float">
                <li ng-repeat="empty in emptyProfile" class="float-shadow">
                    <a class="hero-tab" href="" style="background-image: url('http://us.battle.net/d3/static/images/profile/hero/hero-nav-frames.png')"></a>
                </li>
            </ul>
        </div>
    </div>

    <!--PROFILE SELECTOR-->
    <div class="profile-body" id="profile-body" ng-if="account.heroes">
        <div class="profile-selector" id="heroes">
            <ul class="hero-tabs">
                <li ng-repeat="hero  in account.heroes" ng-click="getDetails(battleTag, hero.id)" class="float-shadow">
                    <a class="hero-tab {{hero.class}}-{{hero.gender | gender}}" href="" data-tooltip="#hero-tab-tooltip-0" style="background-image: url('http://us.battle.net/d3/static/images/profile/hero/hero-nav-frames.png')">
                        <span class="hero-portrait " style="background-image:url('http://us.battle.net/d3/static/images/profile/hero/hero-nav-portraits.jpg')">
                        </span>
                        <span class="level">{{hero.level}}</span>
                        <span class="name">{{hero.name}}</span>
                    </a>
                    <div id="hero-tab-tooltip-0" style="display:none">
                        <div class="hero-tab-tooltip profile-tooltip">
                            <h2 class="subheader-2">{{hero.name}}</h2>
                            <p>
                                <strong>{{hero.level}}</strong> {{hero.class}}
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div ng-if="!heroDetails" class="profile-sheet" style="background-image: url('http://us.battle.net/d3/static/images/profile/hero/paperdoll/barbarian-male.jpg')"></div>
        <div ng-if="heroDetails" class="profile-sheet" style="background-image: url('http://us.battle.net/d3/static/images/profile/hero/paperdoll/{{heroDetails.class}}-{{heroDetails.gender | gender}}.jpg')">

            <!--HERO TITLE-->
            <h2 class="class">
                <a href="">
                    <span><strong>{{heroDetails.level}}<span class="paragon-level" ng-if="heroDetails">({{heroDetails.paragonLevel}})</span></strong> {{heroDetails.class}}</span>
                </a>
            </h2>
            <h2 class="header-2 name">{{heroDetails.name}}</h2>

            <!--ITEM IMAGES-->
            <div class="paperdoll" id="paperdoll">
                <div class="weapon-flourish off-hand-flourish elemental-holy"></div>
                <ul class="gear-slots">
                    <li class="slot-{{slot}}" ng-repeat="slot in slots" data-ng-if="heroDetails.items[slot]">
                        <a class="slot-link" href="" data-d3tooltip="items[slot + 'Details'].tooltipParams">
                            <span class="d3-icon d3-icon-item d3-icon-item-{{heroDetails.items[slot].displayColor}}" style="background-image: url('http://us.battle.net/d3/static/images/item/icon-bgs/{{heroDetails.items[slot].displayColor}}.png')">

                                <span class="icon-item-gradient">
                                    <span class="icon-item-inner"></span>
                                </span>
                            </span>
                            <span class="image">
                                <img ng-src="http://media.blizzard.com/d3/icons/items/large/{{heroDetails.items[slot].icon}}.png" alt="" />
                            </span>

                            <!--SOCKETS | GEMS-->
                            <span class="sockets-wrapper">
                                <span class="sockets-align">
                                    <div ng-repeat="gem in items[slot + 'Details'].gems">
                                        <span class="socket">
                                            <img class="gem" ng-if="gem.isGem" ng-src="http://media.blizzard.com/d3/icons/items/small/{{gem.item.icon}}.png">
                                        </span><br />
                                    </div>
                                </span>
                            </span>
                        </a>
                </ul>

                <!--ITEM DETAILS-->
                <ul class="gear-labels" id="gear-labels" data-ng-repeat="slot in slots">
                    <li class="gear-label slot-{{slot}}">
                        <a href="" data-d3tooltip="{{items[slot + 'Details'].tooltipParams}}" class="label-link d3-color-{{items[slot + 'Details'].displayColor}}">
                            <span class="item-name">{{items[slot + 'Details'].name}}</span>
                            <span class="weapon-dps">

                                <span class="value">{{items[slot + 'Details'].dps.max | number:1}}</span>
                                <span data-ng-if="items[slot + 'Details'].dps.max | number:1">DPS</span>

                            </span>
                            <span class="bonus-value bonus-50 long-bonus">
                                <p>
                                    <span class="bonus-value bonus-50 long-bonus">
                                        {{items[slot + 'Details'].attributes.primary[0].text}}
                                    </span>
                                </p>
                            </span>
                        </a>
                    </li>
                </ul>

                <!--GEAR LINES-->
                <ul class="gear-lines" data-ng-repeat="slot in slots">
                    <li data-ng-if="heroDetails.items[slot]" class="slot-{{slot}}" style="background-image:url('http://us.battle.net/d3/static/images/profile/hero/inventory-lines.png')"></li>
                </ul>
            </div>

            <!--STAT ATTRIBUTES-->
            <div class="gear-bonuses" id="bonuses" ng-if="heroDetails">

                <h3 class="header-3"><span class="help-icon tip" data-tooltip="#gear-bonuses-tooltip"></span>Stat Attributes</h3>

                <div id="gear-bonuses-tooltip" style="display: none;">
                    <div class="profile-tooltip">


                        <h2 class="subheader-2">Gear Bonuses</h2>
                        <p>This feature lists your most prevalent gear bonuses. You may select a bonus to see which items provide that bonus.</p>
                    </div>
                </div>
                <ul>
                    <li>
                        <a href="javascript:;" class="bonus-stat" data-bonus-index="50">
                            <span class="bonus-radio active"></span><p><span class="value">{{heroDetails.stats.life}}</span> Life</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="bonus-stat" data-bonus-index="54">
                            <span class="bonus-radio"></span><p><span class="value">{{heroDetails.stats.damage}}</span> Damage</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="bonus-stat" data-bonus-index="67">
                            <span class="bonus-radio"></span><p> <span class="value">{{heroDetails.stats.strength}}</span> Strength</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="bonus-stat" data-bonus-index="64">
                            <span class="bonus-radio"></span><p> <span class="value">{{heroDetails.stats.dexterity}}</span> Dexterity</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="bonus-stat" data-bonus-index="53">
                            <span class="bonus-radio"></span><p><span class="value">{{heroDetails.stats.vitality}}</span> Vitality</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="bonus-stat" data-bonus-index="54">
                            <span class="bonus-radio"></span><p><span class="value">{{heroDetails.stats.intelligence}}</span> Intelligence</p>
                        </a>
                    </li>
                </ul>
            </div>


        </div>



        <!--audio-->
        <!--<audio controls autoplay style="visibility: hidden;">
            <source src="sound/bg-music.mp3" type="audio/mpeg" />
        </audio>-->
</body>
</html>
